/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
  }
  
  header {
    background-color: #3a87ad;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #jugadorsLlistat {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
  }
  
  footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
  }
  
  /* Estil per al bracket */
#bracket {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .partit {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }